<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/homepage.css">
    <script src="static/css/homepage.js"></script>
    <title>Homepage</title>
</head>
<body>
    {{hello_world}}
</body>
</html>